/*
* Copyright © 2020. TIBCO Software Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/

body {
    margin: 0;
    overflow: hidden;
}

#mod-container {
    white-space: pre;
}

#text-card-container {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 16px 24px 16px 24px;
}

#text-card {
    box-shadow: 0 0 0 1px #c2c6d1, 0 0 0 2px transparent, 0 0 0 3px transparent;
    overflow-y: hidden;
    overflow-x: hidden;

    border-radius: 4px; /* 4px rounded corners must be same as border left width!*/
    /*colored sidebar */
    border-left-width: 4px;
    border-left: solid;

    position: relative;
    height: auto;
    color: #313336;

    margin-bottom: 16px;
    padding-bottom: 8px;
}

#text-card:hover {
    box-shadow: 0 0 0 1px #c2c6d1, 0 0 0 2px white, 0 0 0 3px #313336;
}

.annotation-container {
    height: 32px;
}

.annotation-content {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    padding-left: 16px;
    padding-right: 16px;

    /* limits annotations content to text card width, adds ... if too long */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}

.thin_hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    height: 1px;
    background-color: #dcdfe8; /* must set in js */
}

#text-card-paragraph {
    height: auto;
    padding-left: 16px;
    margin-top: 8px;
    padding-right: 16px;
    overflow-y: auto;
    overflow-x: hidden;
}

#img-button {
    height: 24px;
    width: 24px;
    right: 8px;
    top: 8px;
    position: absolute;
    border: none;
    background: white;
}
