/*
* Copyright © 2020. TIBCO Software Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/

body {
    margin: 0;
    overflow: hidden;
}

#mod-container {
    white-space: pre;
}

#text-card-container {
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: start;
    padding: 16px 16px;
}

#text-card {
    box-shadow: 0 0 0 1px #c2c6d1, 0 0 0 2px transparent, 0 0 0 3px transparent;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 5px; /* 5px rounded corners */
    position: relative;
    padding: 0px;
    height: auto;
}

#text-card:hover {
    box-shadow: 0 0 0 1px #c2c6d1, 0 0 0 2px white, 0 0 0 3px #313336;
    color: #313336;
}

#text-card-wrapper {
    margin-bottom: 16px;
}

#text-card-sidebar {
    float: left;
    width: 4px;
    margin-right: 16px;
}

/*
overrides spotfire incoming formating
*/
p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* margins around text-content */
#text-card-paragraph {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-right: 16px;
    overflow-y: auto;
}
